/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    -webkit-box-sizing: 40%;
            box-sizing: 40%;
    font-family: Arial, sans-serif;
    -ms-flex-line-pack: center;
        align-content: center;
}

header {
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

ul.pokemon-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    border-color: lightgray;
}
/* styling the created button in the javascript */
.pokemon-button {
    background-color:rgb(248, 248, 248);
    color:darkblue;
    margin: 2px;
    width: 90%;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border-color: lightgray;
    border-width: .5px;
}

.pokemon-button:hover {
    background-color: grey;
}

#modal-container {
  position: fixed;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  /* display: inline-block; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 50%;
  max-width: 700px;
  text-align: center;
  /* background: lightcyan; */
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

@media all  and  (min-width: 0px) and (max-width: 500px){
    body {
        max-width: 500px;
        font-size: 14px
    }
    .modal {
        font-size: 12px;
    }
}

@media all  and  (min-width: 500px) and (max-width: 700px){
    body {
        max-width: 700px;
        font-size: 16px
    }
}