* {
    box-sizing: border-box;
  }

body {
    background-color: PeachPuff;
    box-sizing: 40%;
    font-family: 'Nunito', sans-serif;
    align-content: center;
}

.index-main {
  margin-top: 100px;
}

.list-group {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
justify-content:center;
}

li {
    align-items: center;
    padding: 2px;
    margin: 5px;
}
.list-group-item {
  background-color: DarkSeaGreen;
  text-align: center;
  justify-content: center;
  width: 200px;
  margin-top: 5px;
  border-radius: 5px;
}



/* styling the created button in the javascript */
.btn {
    color:black;
    background-color: lightblue;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border-color: lightgray;
}

.search-btn{
  color:black;
  /* margin-top: 30px; */
    width: 80%;
    background-color: lightblue;
    /* padding: 10px; */
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border-color: lightgray;
    /* border-width: .5px; */
}

button:hover {
  opacity: .5;
}

 .modal {
  margin: auto;
  display: none;
  box-sizing: border-box;
  padding: 15px;
  width: 70%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-img2 {
  width:170px;
  height: auto;
}

@media all  and  (min-width: 0px) and (max-width: 432px){
    body {
        max-width: 432px;
        font-size: 18px
    }
    .list-group {
      display: grid;
      justify-content:center;
        grid-template-columns: 1fr 1fr;

      }

      .list-group-item {
        background-color: whitesmoke;
        text-align: center;
        justify-content: center;
        margin-top: 1px;
        border-radius: 5px;
      }
      .modal {
        width: 100%;
        height: 100%;
      }
}

@media all  and  (min-width: 420px) and (max-width: 700px){

    body {
        max-width: 700px;
        font-size: 16px
    }
    .modal {
      width: 100%;
      height:100%;
  }
}
